.steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.step {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.title {
    font-size: calc((100vw - 44rem) / (80 - 30) * (5 - 1) + 5rem);
    text-wrap: nowrap;
}

.first-button,
.submit-button {
    display: flex;
    align-items: center;
    text-wrap: nowrap;

    padding: 10px;
    /* margin: 10px 0; */
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: calc((100vw - 320px) / (1920 - 320) * (102 - 32) + 16px);
    /* font-size: calc((100vw - 76rem) / (80 - 30) * (5 - 1) + 5rem); */
    /* height: calc((100vw - 320px) / (80 - 30) * (5 - 1) + 40px); */
    margin-bottom: 2%;
}

.span1 {
    background-color: rgb(218 59 77);
    color: #000000;
    padding: 6px;
    border-radius: 12px;
    margin-right: 1%;
    min-width: 13%;
}

.second-button {
    display: flex;
    align-items: center;

    text-wrap: nowrap;
    padding: 10px;

    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: calc((100vw - 320px) / (1920 - 320) * (102 - 32) + 16px);
    /* font-size: calc((100vw - 72rem) / (80 - 30) * (5 - 1) + 5rem); */
    /* height: calc((100vw - 320px) / (80 - 30) * (5 - 1) + 40px); */
}

.sos {
    background-color: rgb(218 59 77);
    color: #ffffff;
    padding: 6px;
    border-radius: 12px;
    margin-right: 1%;
    min-width: 13%;
}

.step-button:hover,
.submit-button:hover {
    background-color: darkgreen;
}

.submit-button:disabled {
    background-color: gray;
    cursor: auto;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input.invalid {
    border-color: red;
}

input.valid {
    border-color: green;
}

label {
    display: block;
    margin-bottom: 5px;
}

small {
    display: block;
    margin-top: 5px;
    color: #666;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    .step-button,
    .submit-button {
        padding: 15px;
        font-size: 16px;
    }

    input,
    label {
        font-size: 14px;
    }
}
