/* $maxWidth: 1920;

@mixin adaptive-font($pcSize, $mobSize) {
} */

.steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.step {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.title {
    /* font-size: calc(48px + (14 + 14 * 0.7) * ((100vw) / 280)); */
    font-size: calc((100vw - 280px) / (1920 - 280) * (200 - 48) + 48px);
    text-wrap: nowrap;
}

.first-button,
.submit-button {
    display: flex;
    align-items: center;
    text-wrap: nowrap;

    padding: 12px;
    padding-right: calc((100vw - 280px) / (1920 - 280) * (102 - 20) + 20px);

    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: calc((100vw - 280px) / (1920 - 280) * (102 - 14) + 14px);

    margin-bottom: 4%;
}

.leftIcon1 {
    background-color: rgb(218 59 77);
    color: #000000;
    padding: 6px;
    border-radius: 12px;
    margin-right: 1%;
}

.second-button {
    display: flex;
    align-items: center;

    text-wrap: nowrap;
    padding: 12px;
    padding-right: calc((100vw - 280px) / (1920 - 280) * (102 - 20) + 20px);

    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 12px;

    cursor: pointer;
    font-size: calc((100vw - 280px) / (1920 - 280) * (102 - 14) + 14px);
}

.leftIcon2 {
    background-color: rgb(218 59 77);
    color: #ffffff;
    padding: 6px;
    border-radius: 12px;
    margin-right: 1%;
    /* min-width: 13%; */
}

.text1 {
    /* padding-right: 20px; */
}

.text2 {
}

.step-button:hover,
.submit-button:hover {
    background-color: darkgreen;
}

.submit-button:disabled {
    background-color: gray;
    cursor: auto;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input.invalid {
    border-color: red;
}

input.valid {
    border-color: green;
}

label {
    display: block;
    margin-bottom: 5px;
}

small {
    display: block;
    margin-top: 5px;
    color: #666;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    .step-button,
    .submit-button {
        padding: 15px;
        font-size: 16px;
    }

    input,
    label {
        font-size: 14px;
    }
}
