.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 32px;
    top: 27px;
    right: 55px;
}

.checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    z-index: 5;
    opacity: 0;
}

.lines {
    height: 26px;
    width: 33px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    display: block;
    height: 4px;
    width: 100%;
    background: #fff;
}

.line1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;
}

.line2 {
    transition: transform 0.2s ease-in-out;
}

.line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
}

.line1.checked {
    transform: rotate(45deg);
}

.line2.checked {
    transform: scaleY(0);
}

.line3.checked {
    transform: rotate(-45deg);
}

@media (min-width: 750px) {
    .navContainer {
        height: 64px;
        top: 54px;
        right: 95px;
    }

    .checkbox {
        height: 64px;
        width: 64px;
    }

    .lines {
        height: 52px;
        width: 66px;
    }

    .line {
        height: 7px;
    }
}
