* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
    touch-action: pan-x pan-y;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}
input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}
input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}
input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}
